# [Required] = Cannot run without it
# [Optional] = Can run without it. Features will be disabled.

# Core packages [Required]
discord.py==1.3.3
aiohttp==3.6.2
uvloop==0.14.0
psycopg2==2.8.5

# Configuration management [Required]
jsonnet==0.15.0
Click==7.1.2

# Data storage [Required]
SQLAlchemy==1.3.16
aioredis==1.3.1
protobuf==3.12.2
py-coders==1.1.5

# Utility requirements [Required]
humanize==2.4.0
Pint==0.11
texttable==1.6.2
pytimeparse==1.1.8

# Third Party Integrations
dblpy==0.3.4

# For music bot features [Optional]
wavelink==0.8.0

# API Wrappers for feeds and external services [Optional]
praw==7.0.0

# Debugging tools [Optional]
guppy3==3.0.9
